html {
    box-sizing: border-box;
    background-color: #EDF2C5;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-family: "Noto Sans", sans-serif;
}


/* header */
.header {
    display: grid;
    grid-template-rows: 62px 44px;
    margin-top: 36px;
    margin-left: auto;
	margin-right: auto;
    max-width: 1120px;
    min-width: 528px;
    color: #778A50;
    gap: 3px;
}

.header-title {
    margin: 0;
    font-size: 44px;
    font-weight: 900;
}

.title-area {
    display: grid;
    grid-template-columns: 1fr 208px;
}

.header-link,
.social-media,
.user-botton {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    align-items: center;     /* 垂直置中 */
}

.facebook,
.instagram {
    margin: 0 6px;
}


.user-botton {
    border-left: 1px solid #778A50;
    padding: 0;
    margin: 0;
}

.user-botton-item {
    margin: 0;
    margin-left: 8px;
    padding: 4px 8px;
    height: 28px;
    border: 1px solid #778A50;
    border-radius: 3px;
}

.user-link {
    text-decoration: none;
    color: #778A50;
    font-weight: 700;
    font-size: 14px;
}
 
.user-botton-item:hover {
    background-color: #778A50;
}

.user-botton-item:hover .user-link {
    color: #EDF2C5;
}

/* nav bar */
.nav {
    background-color: #778A50;
    border-radius: 3px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    height: 44px;
    align-items: center;
    line-height: 44px;
}

.nav-item {
    list-style: none;
    padding-left: clamp(10px, 2vw, 30px);
    padding-right: clamp(10px, 2vw, 30px);
    height: 44px;
}

.nav-link {
    text-decoration: none; /* 去底線 */
    font-size: 16px;
    font-weight: 900;
    color: #EDF2C5;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

.nav-item:hover {
    background-color: #F7FBDA;
}

.nav-item:hover .nav-link {
    color: #778A50;
}

/* main area */
.main-area {
    display: flex;
    flex-flow: row wrap;
    max-width: 1120px;
    min-width: 528px;
    min-height: 681px;
    margin: 1em auto;
    justify-content: space-between;
    align-content: space-between;
}

.main-img img {
    width: 100%;
    height: auto;
}

.vegetables,
.contact {
    width: 528px;
    margin-top: 1em;
}

.section-title {
    height: 45px;
    margin: 0;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    color: #EDF2C5;
    background-color: #778A50;
    border-radius: 3px;
    margin-bottom: 1em;
}

.figure-container {
    display: flex;
    flex-direction: row;
    width: 528px;
    justify-content: space-between;
}


.vegetables-figure {
    margin: 0;
}

.contact-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 16px;
    background-color: #F7FBDA;
    min-height: 140px;
}

.contact-description,
.contact-info {
    margin: 0;
    font-size: 12px;
    color: #7D7D7D;
    font-weight: 400;
    line-height: 18px;
}

.contact-description {
    padding-bottom: 8px;
    border-bottom: 1px solid #7D7D7D;
}


/* footer */
.footer {
    text-align: center;
    height: 60px;
    border-radius: 3px;
    background-color: #778A50;
    color: #EDF2C5;
    font-size: 12px;
    font-weight: 400;
    line-height: 60px;
    margin-top: 60px;
}


@media (max-width: 1120px) {
    .header,
    .main-area {
        margin: 10px; 
    }
}